* {
    margin: 0;
    padding: 0;
}
.text {
    color: white;
    font-size: 20px;
}
.button {
    color: white;
    cursor: pointer;
    font-size: 30px;
}
.start-container {
    display: flex;
    justify-content: center;
}
#start {
    color: white;
    height: 100px;
    width: 200px;
    font-size: 40px;
    background-color: black;
}
body {
    background-color: black;
    overflow: hidden;
}
#game {
    width: 700px;
    height: 700px;
    border: 10px solid rgb(66, 201, 32);
    border-radius: 5%;
    display: inline-block;
    box-sizing: border-box;
}
#game div {
    position: absolute;
}
#points {
    color:white;
}
.nav {
    width: 100px;
    height: 15px;
}

.enemy {
    width: 30px;
    height: 30px;
    border-radius: 10%;
}

.shot {
    width: 2px;
    height: 16px;
}